<h2>Log In</h2>
<form action  = "/login" method="post">
<label for="name">Email</label>
<input type ="text" name="name" placeholder="Name">
<label for="password">Login</label>
<input type ="password" name="password" placeholder="Password">
<input type="submit" class="bg-yellow border border-yellow rounded-r-md">
</form>

<a href="/signup" >Signup</a>