/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set default font size and line height */
body {
  font-size: 16px;
  line-height: 1.5;
}

/* Reset hyperlink styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Reset form elements */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

/* Fix Firefox issue with `button` element */
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
